header {
    background-color: #4a81bb;
    color: rgb(2, 2, 2);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.simulador-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0071bb;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #0071bb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005f8b;
}

.resultado {
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    display: none;
}

h2 {
    color: #000000;
}

p {
    font-size: 18px;
    color: #000000;
}
